.wrapper {
  display: flex;
  gap: 0.75rem;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.button {
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: 1px solid var(--white-800);
  color: var(--white);
  border-radius: 6px;
  font-size: 0.875rem;
  cursor: pointer;
  transition: all 0.2s ease;
  width: 100%;
  text-align: center;
}

.button:hover {
  border-color: var(--primary);
  color: var(--primary);
}

.active {
  background-color: var(--primary);
  color: white;
  border-color: var(--primary);
}
